<div class="jumbotron">
  <div class="container">
    <h2><%= t('edit_profile') %></h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, class: 'control-label' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', style: 'width: 30%;' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, class: 'control-label' %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: 'control-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, class: 'control-label' %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="actions">
        <%= f.submit t('update'), class: 'btn btn-primary' %>
      </div>
      <br/>
    <% end %>

    <h3>Cancel my account</h3>

    <p><%= button_to t('cancel_account'), registration_path(resource_name), data: { confirm: t('confirm') }, method: :delete, class: 'btn btn-danger' %></p>

    <%= link_to t('back'), :back %>
  </div>
</div>
