<div class="jumbotron">
  <div class="container">
    <h2><%= t('sign_up') %></h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, class: 'control-label' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'control-label' %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: 'control-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="actions">
        <%= f.submit t('sign_up'), class: 'btn btn-primary' %>
      </div>
      <br/>
    <% end %>

    <%= render "users/shared/links" %>
  </di>
</div>
