<br/>
<% if @search_users.present? && @search_users.count > 0 %>
  <br/>
  <table class="table table-striped table-hover "><tbody>
    <% @search_users.each do |search_user| %>
      <tr>
        <div id="search_user_item_<%= search_user.id %>" class="row">
          <div class="col-md-5">
            <div><a href="/">
              <h5 style="font-size: 13pt; font-weight: bold;"><%= search_user.user_name %></h5>
            </a></div>
            <div><p>(<%= search_user.email %>)</p></div>
          </div>
          <div class="col-md-7" style="height: 100%; position: relative; top: 50%;">
            <p>Invite this user to join project as </p>
            <p>
              <button class="btn btn-success btn-sm" onclick="onClickInvitationButton('<%= @current_project_id %>', '<%= search_user.id %>', '10');"><%= t('project.developer') %></button>
              <button class="btn btn-success btn-sm" onclick="onClickInvitationButton('<%= @current_project_id %>', '<%= search_user.id %>', '20');"><%= t('project.tester') %></button>
              <button class="btn btn-success btn-sm" onclick="onClickInvitationButton('<%= @current_project_id %>', '<%= search_user.id %>', '30');"><%= t('project.watcher') %></button>
            </p>
          </div>
        </div>
        <hr id="search_user_line_<%= search_user.id %>">
      </tr>
    <% end %>
  </tbody></table>
<% else %>
  <br/>
  <div class="well">
    No users found.
  </di>
<% end %>
<script type="text/javascript">
 function onClickInvitationButton(currentProjectId, userId, memberType) {
   var successLabel = document.getElementById('user_invitation_success');
   var errorLabel = document.getElementById('user_invitation_error');
   successLabel.setAttribute("style", "display: none;");
   errorLabel.setAttribute("style", "display: none;");
   // Error
   if (!currentProjectId || !userId || !memberType) {
     errorLabel.setAttribute("style", "display: true;");
     return;
   }
   $.ajax({
     type: 'POST',
     url: '/project/invite',
     data: {project_id: currentProjectId, user_id: userId, role: memberType},
     dataType: 'json',
     success: function(data) {
       if (data.status) {
         var item = document.getElementById('search_user_item_' + userId);
         item.parentNode.removeChild(item);
         var line = document.getElementById('search_user_line_' + userId);
         line.parentNode.removeChild(line);
         successLabel.setAttribute("style", "display: true;");
         showFlashMessageLabel(successLabel);
         var emptyLabel = document.getElementById('project_invitation_pending_members_empty_label');
         if (emptyLabel != null) {
           emptyLabel.setAttribute("style", "display: none;");
         }
         var invitationElement =
          '<div id="project_user_invitation_row_' + data.invitation_pending_member.id + '" class="row">' +
            '<div class="col-md-5">' +
              '<a href="/" style="font-weight: bold;">' + data.invitation_pending_member.user_name + '</a> has been invited to join project as <span style="font-weight: bold;">' + data.invitation_pending_member.role_name + '</span>' +
            '</div>' +
            '<div class="col-md-7" style="height: 100%; position: relative; top: 50%; transform: translateY(-25%);">' +
              '<button class="btn btn-danger btn-sm pull-left" onclick="onClickInvitationCancelButton(' + data.invitation_pending_member.id + ')"><%= t('cancel') %></button>' +
            '</div>' +
          '</div>' +
          '<hr id="project_user_invitation_line_' + data.invitation_pending_member.id + '">';
         $("#project_invitation_pending_list").append(invitationElement);
       } else {
         errorLabel.setAttribute("style", "display: true;");
         showFlashMessageLabel(errorLabel);
       }
     },
     error: function(error) {
       errorLabel.setAttribute("style", "display: true;");
       showFlashMessageLabel(errorLabel);
     }
   });
 }
</script>
