<div class="jumbotron">
  <div class="container">
    <h2><%= t('project.create') %></h2>
    <br/>

    <%= form_for @project, url: project_create_path, method: :post, html: {id: 'project_create_form', class: 'form-group'} do |f| %>
      <%= label_tag t('project.title'), nil, style: 'font-size: 16pt' %> (max 128 characters)
      <%= f.text_field :title, class: 'form-control', id: 'title', name: 'title' %>
      <br/>
      <%= label_tag t('project.description'), nil, style: 'font-size: 16pt' %> (max 256 characters)
      <%= f.text_area :description, class: 'form-control', rows: 5, id: 'description', name: 'description' %>
      <br/>
      <%= label_tag t('project.icon'), nil, style: 'font-size: 16pt' %>
      <div class="row">
        <div class="col-md-2" style="margin: 10px 0 10px 0;">
          <img id="project_icon_view" src="http://teamhoppi.com/img/no_image_thumbnails.png" class="pull-left" style="width: 150px; height: 150px;" />
          <%= f.hidden_field :icon_url, id: 'icon_url', name: 'icon_url', value: 'http://teamhoppi.com/img/no_image_thumbnails.png' %>
        </div>
        <div class="col-md-10">
           <p style="margin-left: -15px; margin-top: 50px; padding-left: 0px;">
             <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-primary btn-file">
                    <input id="project_icon_input_file" name="project_icon_input_file" type="file" accept="image/*">
                  </span>
                </span>
                <input type="text" class="form-control" readonly>
             </div>
           </p>
        </div>
      </div>
      <div id="icon_image_upload_progress_bar" style="display: none;" class="progress progress-striped active">
  			<div class="progress-bar progress-bar-success" style="width: 100%"></div>
  		</div>
      <br/>
      <%= f.submit t('project.create'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#project_create_form").validate({
    rules: {
      title: {
        required: true,
        minlength: 3,
        maxlength: 128
      },
      description: {
        maxlength: 256
      }
    },
    messages: {
      title: {
        required: "No name, no project",
        minlength: "Project title has at least 3 characters",
        maxlength: "Project title has max 128 characters",
      },
      description: {
        maxlength: "Project description has max 256 characters"
      }
    }
  });
})

  $("#project_icon_input_file").change(function() {
    var input = $(this), numFiles = input.get(0).files ? input.get(0).files.length : 1, label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);

    if (input.get(0).files.length > 0) {
      var imageData = new FormData();
      $.each(input.get(0).files, function(key, value) {
          imageData.append("image", value);
      });

      var iconImageUploadProgressBar = document.getElementById("icon_image_upload_progress_bar");
      iconImageUploadProgressBar.setAttribute("style", "display: true;");

      $.ajax({
          url: "/image/upload",
          type: "POST",
          data: imageData,
          dataType: 'json',
          contentType: false,
          processData:false,
          cache: false,
          success: function(data) {
            // success
            iconImageUploadProgressBar.setAttribute("style", "display: none;");
            if (data.status && data.image_url) {
              var projectIconView = document.getElementById('project_icon_view');
              projectIconView.setAttribute("src", data.image_url);
              var projectIconUrl = document.getElementById('icon_url');
              projectIconUrl.setAttribute("value", data.image_url);
            } else {
              alert("There's something wrong!");
            }
          },
          error: function(error){
            // error
            iconImageUploadProgressBar.setAttribute("style", "display: none;");
            alert("There's something wrong!");
          }
      });
    }
  });

  $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
    var input = $(this).parents('.input-group').find(':text'),
        log = numFiles > 1 ? numFiles + ' files selected' : '  ' + label;
    if( input.length ) {
        input.val(log);
    } else {
        if( log ) alert(log);
    }
  });
</script>
