<%= link_to t('back'), :back %>

<div class="input-group">
  <span class="input-group-btn">
    <h2 class="pull-left" style="font-weight: bold;"><%= @project.title %></h2>
  </span>
</div>
<br/>
<ul class="nav nav-tabs">
  <li class="active"><a href="#detail" data-toggle="tab" aria-expanded="true"><%= t('project.details') %></a></li>
  <li class=""><a href="#invitation" data-toggle="tab" aria-expanded="false"><%= t('project.invitation') %></a></li>
  <li class=""><a href="#android" data-toggle="tab" aria-expanded="false"><%= t('project.android') %></a></li>
  <li class=""><a href="#ios" data-toggle="tab" aria-expanded="false"><%= t('project.ios') %></a></li>
</ul>

<div class="tab-content">
  <!-- Project Details tab section - START -->
  <div class="tab-pane fade active in" id="detail">
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-md-1" style="margin: 0 0 5px 0;">
          <img src="<%= @project.icon_url %>" class="thumbnail pull-left" style="width: 100px; height: 100px;" />
        </div>
        <div class="col-md-11" style="margin: 0 0 -50px 0;">
          <ul>
            <li><p>Owner: <%= @project.owner.user_name %></p></li>
            <li><p>Description: <%= @project.description.present? ? @project.description : "No description" %></p></li>
            <li><p>Created at: <%= @project.created_at %></p></li>
            <li><p>Members: <% @project.members.each do |member| %><a href="/"><%= member.user_name %>, <% end %></a></p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Project Invitations tab section - START -->
  <div class="tab-pane fade" id="invitation">
    <br/>
    <div id="user_invitation_success" class="alert alert-dismissible alert-success" style="display: none;">
      <%= t('success') %>
    </div>
    <div id="user_invitation_error" class="alert alert-dismissible alert-danger" style="display: none;">
      <%= t('fail') %>
    </div>
    <div class="container">
      <div class="form-group">
        <label class="control-label">Search Users</label>
        <div class="input-group" style="width: 50%;">
          <input id="user-search-textbox" type="text" class="form-control">
          <span class="input-group-btn">
            <button id="user-search-button" class="btn btn-info" type="button">Search</button>
          </span>
        </div>
        <p id="user-search-error-label" class="text-danger" style="display: none;">No name, no search!</p>
        <div id="project_search_user_list">
          <!-- search user list -->
        </div>
        <br/>
        <label class="control-label">Invitation Sent Users</label>
        <div id="project_invitation_pending_list">
          <br/>
          <table class="table table-striped table-hover "><tbody>
            <% if @project.present? && @project.invitation_pending_members.count > 0 %>
              <% @project.invitation_pending_members.each do |pending_user| %>
                <tr>
                  <div id="project_user_invitation_row_<%= pending_user.id %>" class="row">
                    <div class="col-md-5">
                      <%= t('project.invitation_message',
                            user: content_tag(:a, pending_user.user.user_name, href: '/', style: 'font-weight: bold;'),
                            role: content_tag(:span, pending_user.role_name, style: 'font-weight: bold;')).html_safe %>
                    </div>
                    <div class="col-md-7" style="height: 100%; position: relative; top: 50%; transform: translateY(-25%);">
                      <button class="btn btn-danger btn-sm pull-left" onclick="onClickInvitationCancelButton('<%= pending_user.id %>')"><%= t('cancel') %></button>
                    </div>
                  </div>
                  <hr id="project_user_invitation_line_<%= pending_user.id %>">
                </tr>
              <% end %>
            <% else %>
              <div id="project_invitation_pending_members_empty_label" class="well">
                No users found.
              </div>
            <% end %>
          </tbody></table>
        </div>
      </div>
    </div>
  </div>

  <!-- Project Android files tab section - START -->
  <div class="tab-pane fade" id="android">
    <br/>
    <div class="container">
    </div>
  </div>

  <!-- Project iOS files tab section - START -->
  <div class="tab-pane fade" id="ios">
    <br/>
    <div class="container">
    </div>
  </div>
</div>

<script type="text/javascript">
  var userSearchErrorLabel = document.getElementById('user-search-error-label');
  $("#user-search-button").click(function() {
    var searchUserName = document.getElementById('user-search-textbox').value;
    if (searchUserName == "") {
      userSearchErrorLabel.setAttribute("style", "display: true;");
      $("#project_search_user_list").empty();
      return;
    }
    userSearchErrorLabel.setAttribute("style", "display: none;");
    $.ajax({
      type: 'GET',
      url: "/project/search/user/" + <%= @project.id %> + "/" + searchUserName,
      dataType: 'script'
    });
  })

  function onClickInvitationCancelButton(invitation_id) {
    var successLabel = document.getElementById('user_invitation_success');
    var errorLabel = document.getElementById('user_invitation_error');
    successLabel.setAttribute("style", "display: none;");
    errorLabel.setAttribute("style", "display: none;");
    $.ajax({
      type: 'PUT',
      url: '/project/invite/cancel',
      data: {invitation_id: invitation_id},
      dataType: 'json',
      success: function(data) {
        if (data.status) {
          var item = document.getElementById('project_user_invitation_row_' + invitation_id);
          item.parentNode.removeChild(item);
          var line = document.getElementById('project_user_invitation_line_' + invitation_id);
          line.parentNode.removeChild(line);
          successLabel.setAttribute("style", "display: true;");
          showFlashMessageLabel(successLabel);
        } else {
          errorLabel.setAttribute("style", "display: true;");
          showFlashMessageLabel(errorLabel);
        }
      },
      error: function(error) {
        errorLabel.setAttribute("style", "display: true;");
        showFlashMessageLabel(errorLabel);
      }
    });
  }

</script>
