<div class="jumbotron">
  <div class="container text-center">
    <h1>Tesutome</h1>
    <p>Manage application test versions</p>
    <a href="/" class="page-scroll btn btn-success">Start now</a>
  </div>
</div>
<section id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Fast<h4>
                <blockquote>
                    <p class="text-muted">Manage your test version logs so fast</p>
                </blockquote>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Fun</h4>
                <blockquote>
                    <p class="text-muted">Work with your colleagues as a team</p>
                </blockquote>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4>Free</h4>
                <blockquote>
                    <p class="text-muted">All features are brought to you FREE</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
