<%= form_tag({controller: 'site', action: 'contact'}, method: 'post', id: 'contact_form', class: 'form-group') do %>
  <%= label_tag 'Name', nil, style: 'font-size: 16pt' %>
  <%= text_field_tag 'name', nil, placeholder: 'Your name...', class: 'form-control', maxlength: 128 %>
  <br/>
  <%= label_tag 'Email', nil, style: 'font-size: 16pt' %>
  <%= text_field_tag 'email', nil, placeholder: 'Email Address...', class: 'form-control', maxlength: 64 %>
  <br/>
  <%= label_tag 'Comment', nil, style: 'font-size: 16pt' %>
  <%= text_area_tag 'comment', nil, placeholder: 'Comment...', class: 'form-control', rows: 5, maxlength: 512 %>
  <br/>
  <%= submit_tag 'Submit', class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $("#contact_form").validate({
    rules: {
      name: {
        required: true,
        minlength: 5,
      },
      email: {
        required: true,
        email: true
      },
      comment: {
        required: true,
        minlength: 10
      }
    },
    messages: {
      name: {
        required: "Come on, you have a name, don't you?",
        minlength: "Your name must consist of at least 5 characters"
      },
      email: {
        required: "No email, no comment"
      },
      comment: {
        required: "Um...yea, you have to write something to send this form",
				minlength: "That's all? really?"
      }
    }
  });
})

</script>
