<div class="input-group">
  <span class="input-group-btn">
    <h2 class="pull-left">Hi, <%= current_user.user_name %></h2>
    <p><%= link_to(t('project.create'), 'project/create', class: 'btn btn-primary pull-right') %></p>
  </span>
</div>
<br/>
<ul class="nav nav-tabs">
  <li class="active"><a href="#project" data-toggle="tab" aria-expanded="true"><%= t('projects') %></a></li>
  <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false"><%= t('view_profile') %></a></li>
  <li class=""><a href="#message" data-toggle="tab" aria-expanded="false"><%= t('messages') %></a></li>
</ul>

<div class="tab-content">
  <!-- User Projects tab section - START -->
  <div class="tab-pane fade active in" id="project">
    <br/>
    <% if @projects.present? && @projects.count > 0 %>
      <table class="table table-striped table-hover "><tbody>
        <% @projects.each do |project| %>
          <tr>
            <div class="row">
              <div class="col-md-2" style="margin: 0 0 5px 0;">
                <a href="project/<%= project.id %>/view" style="align-text: center;">
                  <img src="<%= project.icon_url %>" class="thumbnail pull-left" style="width: 100px; height: 100px;" />
                </a>
              </div>
              <div class="col-md-10">
                  <div><a href="project/<%= project.id %>/view" style="align-text: center;">
                      <h5 style="margin-left: -55px; padding-left: 0px; font-size: 15pt; font-weight: bold;"><%= project.title %></h5>
                  </a></div>
                  <div><p style="margin-left: -55px; padding-left: 0px;"><%= t 'project.information', owner: project.owner.user_name, created_at: project.created_at %></p></div>
                  <div><p style="margin-left: -55px; padding-left: 0px;"><%= t 'project.members', member_count: project.members.count, file_count: "0" %></p></div>
              </div>
            </div>
            <hr>
          </tr>
        <% end %>
      </tbody></table>
    <% else %>
      <div class="well">
        No projects
      </div>
    <% end %>
  </div>
  <!-- User Projects tab section - END -->

  <!-- User Profile tab section - START -->
  <div class="tab-pane fade " id="profile">
    <br/>
    <div class="well">
      <ul>
        <li><p>Email: <%= current_user.email %></p></li>
        <li><p>Joined at: <%= current_user.created_at %></p></li>
        <li><p>Last login at: <%= current_user.last_sign_in_at %></p></li>
        <br/>
        <p><%= link_to(t('edit_profile'), edit_user_registration_path, class: 'btn btn-primary') %></p>
      </ul>
    </div>
  </div>
  <!-- User Profile tab section - END -->

  <!-- User Messages tab section - START -->
  <div class="tab-pane fade" id="message">
    <br/>
    <div id="invitation_message_success" class="alert alert-dismissible alert-success" style="display: none;">
      <%= t('success') %>
    </div>
    <div id="invitation_message_fail" class="alert alert-dismissible alert-danger" style="display: none;">
      <%= t('fail') %>
    </div>
    <table class="table table-striped table-hover "><tbody>
      <% if @invitation_messages.present? && @invitation_messages.count > 0 %>
        <br/>
        <% @invitation_messages.each do |invitation_message| %>
          <tr>
            <div id="invitation_message_row_<%= invitation_message.id %>" class="row">
              <div class="col-md-5">
                <%= t('project.invited_message',
                      project: content_tag(:span, invitation_message.project.title, style: 'font-weight: bold;')).html_safe %>
              </div>
              <div class="col-md-7" style="height: 100%; position: relative; top: 50%; transform: translateY(-25%);">
                <button class="btn btn-info btn-sm pull-left" onclick="onClickInvitationAcceptButton('<%= invitation_message.id %>')" style="margin-right: 10px;"><%= t('accept') %></button>
                <button class="btn btn-warning btn-sm pull-left" onclick="onClickInvitationRejectButton('<%= invitation_message.id %>')"><%= t('reject') %></button>
              </div>
            </div>
            <hr id="invitation_message_line_<%= invitation_message.id %>">
          </tr>
        <% end %>
      <% else %>
        <div class="well">
          No messages
        </div>
      <% end %>
    </tbody></table>
  </div>
  <!-- User Messages tab section - END -->
</div>

<script type="text/javascript">
  var successLabel = document.getElementById('invitation_message_success');
  var errorLabel = document.getElementById('invitation_message_fail');

  function onClickInvitationAcceptButton(invitation_id) {
    successLabel.setAttribute("style", "display: none;");
    errorLabel.setAttribute("style", "display: none;");

    $.ajax({
      type: 'PUT',
      url: '/project/invite/accept',
      data: {invitation_id: invitation_id},
      dataType: 'json',
      success: function(data) {
        onRequestFinished(data.status, invitation_id);
        location.reload();
      },
      error: function(error) {
        onRequestFinished(false, invitation_id);
      }
    });
  }

  function onClickInvitationRejectButton(invitation_id) {
    successLabel.setAttribute("style", "display: none;");
    errorLabel.setAttribute("style", "display: none;");

    $.ajax({
      type: 'PUT',
      url: '/project/invite/reject',
      data: {invitation_id: invitation_id},
      dataType: 'json',
      success: function(data) {
        onRequestFinished(data.status, invitation_id);
      },
      error: function(error) {
        onRequestFinished(false, invitation_id);
      }
    });
  }

  function onRequestFinished(status, invitation_id) {
    var item = document.getElementById('invitation_message_row_' + invitation_id);
    item.parentNode.removeChild(item);
    var line = document.getElementById('invitation_message_line_' + invitation_id);
    line.parentNode.removeChild(line);
    if (status) {
      successLabel.setAttribute("style", "display: true;");
      showFlashMessageLabel(successLabel);
    } else {
      errorLabel.setAttribute("style", "display: true;");
      showFlashMessageLabel(errorLabel);
    }
  }

</script>
