<div class="jumbotron">
  <div class="container">
    <h2><%= t('change_password') %></h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "New password", class: 'control-label' %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password", class: 'control-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="actions">
        <%= f.submit t('change_password'), class: 'btn btn-primary' %>
      </div>
      <br/>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
