<div class="jumbotron">
  <div class="container">
    <h2><%= t('forgot_password') %></h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, class: 'control-label' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="actions">
        <%= f.submit t('reset_password'), class: 'btn btn-primary' %>
      </div>
      <br/>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
