<!DOCTYPE html>
<html>
<head>
  <title><%= t('app_name') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script type="text/javascript">
    function showFlashMessageLabel(element) {
      setTimeout(function() {
        element.setAttribute("style", "display: none;");
      }, 5000);
    }
  </script>
</head>
<body>

  <div class="navbar navbar-default" style="border-radius: 0px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-bar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><%= t('app_name') %></a>
        </div>

        <div class="collapse navbar-collapse" id="header-bar-collapse">
          <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/site/about"><%= t('about') %></a></li>
            <li><a href="/site/contact"><%= t('contact') %></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.user_name %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to(t('edit_profile'), edit_user_registration_path) %></li>
                <li class="divider"></li>
                <li><%= link_to(t('sign_out'), destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
          </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/site/about"><%= t('about') %></a></li>
              <li><a href="/site/contact"><%= t('contact') %></a></li>
              <li><a href="/"><%= t('sign_in') %></a></li>
              <li><a href="/users/sign_up"><%= t('sign_up') %></a></li>
            </ul>
          <% end %>
        </div>
      </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
