<div class="jumbotron">
  <div class="container">
    <h2><%= t('sign_in') %></h2>
    <br/>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'control-label' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', style: 'width: 30%;' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'control-label' %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', style: 'width: 30%;' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit t('sign_in'), class: 'btn btn-primary' %>
      </div>
      <br/>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
